<html lang=en>
   	<body>
    	<p><center style = "font-family:georgia,garamond,serif;font-size:65px">ShakeLogic</center></p>
    	<p><center style = "font-family:georgia,garamond,serif;font-size:30px">Tools for Authorship Attribution</center></p>
    	<p><center><img src="{{url_for('static', filename='Shakespeare.jpg')}}" alt="Plot" width="20%" height="auto"><center></p>
    	<p><center style = "font-family:georgia,garamond,serif;font-size:20px"><a href="ngramsearch">N-gram Search</center></p>
    	<p><center style = "font-family:georgia,garamond,serif;font-size:20px"><a href="attribution">Authorship Attribution using Machine Learning</center></p>
   	</body>
</html> 